---

---

<div class="flex items-center justify-center border-t-1 border-white/10 bg-slate-950 p-3">
	<a
		href="https://ipine.dev"
		target="_blank"
		class="text-sm text-gray-200"
		>ipine.dev</a
	>
</div>
