---

---

<div class="flex h-15 flex-row items-center justify-center gap-3 border-b-1 border-white/10 p-3">
	<a
		href="https://github.com/Pine1611"
		target="_blank"
		class="rounded-[3px] ring-1 ring-slate-50/20">
		<img
			alt="Github@IamPine"
			src="https://img.shields.io/badge/%40IamPine-%20?logo=github&logoSize=24&label=Github&labelColor=%23343434&color=%23181717"
		/>
	</a>
	<a
		href="https://github.com/Pine1611/astro-holidays-calendar"
		target="_blank"
		class="rounded-[3px] ring-1 ring-slate-50/20">
		<img
			alt="Static Badge"
			src="https://img.shields.io/badge/src-%20?logo=git&logoColor=%23F05032&logoSize=24&labelColor=%23343434&color=%23F05032"
		/>
	</a>
</div>
