@import "tailwindcss";

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

@utility custom-scrollbar {
	&::-webkit-scrollbar-track {
		background: var(--color-slate-900);
	}
	&::-webkit-scrollbar {
		width: 6px;
	}
	&::-webkit-scrollbar-thumb {
		background: var(--color-slate-600);
	}
}
